*~
/*.desc
/*.pc
/*.tar.gz
/*diff
/*diffs
/.deps
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/jack-audio-connection-kit-*
/jack.spec
/libtool
/stamp-h
/stamp-h.in
/stamp-h1
/TAGS
*.o
*.lo
Makefile
Makefile.in
.libs
.deps
*.la
config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/ltmain.sh
config/missing
doc/doxygen-build.stamp
doc/reference.doxygen
doc/reference/
example-clients/jack_impulse_grabber
example-clients/jack_metro
example-clients/jack_midiseq
example-clients/jack_midisine
example-clients/jack_showtime
example-clients/jack_simple_client
example-clients/jack_transport_client
jack/version.h
jackd/jack_md5.h
jackd/jackd
jackd/jackd.1
tags
tools/alsa_in
tools/alsa_out
tools/jack_alias
tools/jack_connect
tools/jack_disconnect
tools/jack_evmon
tools/jack_freewheel
tools/jack_load
tools/jack_lsp
tools/jack_monitor_client
tools/jack_netsource
tools/jack_thread_wait
tools/jack_transport
tools/jack_unload
tools/jackrec
