*.lo
*.la
.deps/
.libs/
Makefile
Makefile.in
alias.o
bufsize.o
connect.o
evmon.o
freewheel.o
iodelay.o
ipload.o
ipunload.o
property.o
jack_alias
jack_bufsize
jack_connect
jack_disconnect
jack_evmon
jack_freewheel
jack_iodelay
jack_load
jack_load_test
jack_lsp
jack_midi_dump
jack_monitor_client
jack_netsource
jack_netsource-netjack_packet.o
jack_netsource-netsource.o
jack_property
jack_samplerate
jack_session_notify
jack_thread_wait
jack_transport
jack_unload
jack_wait
load_test.o
lsp.o
midi_dump.o
monitor_client.o
samplerate.o
session_notify.o
transport.o
tw.o
wait.o
alsa_in
alsa_out
alsa_in-alsa_in.o
alsa_out-alsa_out.o
alsa_in-memops.o
alsa_out-memops.o
